body {
    background-color: rgb(10, 10, 10);
    color: white;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fstars-black&psig=AOvVaw1kzasgbci9QPa-CozK1kEd&ust=1713977278029000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJCfnInl2IUDFQAAAAAdAAAAABAE");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.single-card {
    border-radius: 30px;
    overflow: hidden;
}

.single-image {
    height: 100%;
    object-fit: cover;
}
.single-header {
    font-size: 48px;
    font-weight: 700;
}

.single-info-text {
    font-size: 24px
}
.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 30%;
    overflow: hidden;
}

.img-starship {
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        overflow: hidden;
}    

.card-row {
    display: flex;
    overflow-x: scroll;
  }

.heart {
    margin-left: 10px;
}